.bob-ross-container h5 {
	margin: 0;
	line-height: 1em;
	font-weight: 500;
}

.bob-ross-container hr {
	margin: 7px 0 7px 0;
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bob-ross-container .subtitle {
	font-size: 0.7em;
	font-weight: 300;
}